.contenedorCategorias{
    width: 100vw;
    display: flex;
}
.contenedorCategorias a{
    display: inline;
}
.deportivo{
    width: 50%;
    overflow: hidden;
   
}
.deportivo img{
    transition: 0.5s;
    object-fit: cover;
    width:100%;
    height:100%;
  
   
}
.deportivo img:hover{
    transform: scale(1.12);
}
.urbano{
    width: 50%;
    overflow: hidden;
    
}
.urbano img{
    transition: 0.5s;
    object-fit: cover;
    width:100%;
    height:100%;

}
.urbano img:hover{
    transform: scale(1.12);
}

@media (max-width: 765px) {

    .contenedorCategorias{
        display: flex;
        flex-direction: column;
    }
    .deportivo{
        width: 100vw;
    }
    .deportivo img{
        width: 100%;
        height: 100%;
    }
    
    .urbano{
        width: 100%;
        
    }

}