.sliderContainer{
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    
}
.slider{
    cursor: grab;
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.item{
    z-index: 0;
}

.item img{
    
    pointer-events: none;
}

.a1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    z-index: 100;
}
.ovalo1{
    
    width: 120%;
    height: 130px;
    background: #ffffff;
    border-radius: 60%/65px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.ovalo2{
    
    width: 120%;
    height: 130px;
    background: #ffffff;
    border-radius: 60%/65px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
.contenedorTotal{
    width: 100vw;
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}